<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <% if message == "メールアドレスは既に使用されています。" %>
          <li class="error-message text-danger mt-3" id="error-message"><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
