<div class="row">
  <%= render "shared/header" %>
  <div class="main-content d-flex align-items-end bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <h1 class="content-heading text-uppercase mb-5 display-2">自分を変えたい、あなたに</h1>
      <h4 class="content-subheading font-weight-light mb-5">日々の習慣化のお手伝いをします</h4>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>