<div class="userpage">
  <div class="checkpage-content">
    <h2 class="checkpage-logo mb-5">チェックイン</h2>

    <%= render "shared/check_new_form" %>

    <%= render "shared/check_new_modal" %>
  </div>
</div>